<body>
    <div class="manage-shift-header-page">
        <div id="search-section">
            <input id = "search-input" type="text" placeholder="Enter worker's name" />

        </div>
        <div id= "depart-shift-section">
            <h3 id="detail"><p>Department: </p> <%= @department_name%> <p>Date: </p> <%= @date%><p>Shift: </p> <%= @shift%> <h3> 
        </div>
        
            <div id="save-delete-section">
                <input id="otTime" class="ot-default" placeholder="Assign OT"/>
                <button id="assign">Assign</button>
            </div>
    </div>

    <div id="manage-shift-body">
        <div id="table-left" class="manage-shift-table">
            <div class="action-bar">    
                <h3 id='free-btn'>free</h3>
                <h3 id='plan-btn'>plan</h3>
                <div id="save-delete-section">
                    <input id="otTime" class="ot-responsive" placeholder="OT"/>
                    <button id="assign">Add</button>
                </div>
                <h2>All Worker</h2>
                <button id="transfer-btn" name="add">transfer</button>
            </div>
            <table id="data-table-left">
                <tr>
                    <th><%= check_box_tag "", nil, nil, class: "selectall-checkbox", :id=>"left-check-all"%></th>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </table>
        </div>
        
        <div id="table-right">
            <div>    
                <button id="transfer-btn" name="delete">transfer</button>
                <h2>Worker in shift</h2>
            </div>

            <table id="data-table-right">
                <tr>
                    <th><%= check_box_tag "", nil, nil, class: "selectall-checkbox", :id=>"right-check-all"%></th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>OT</th>
                </tr>
            </table>
            
            </div>
        <%= javascript_pack_tag 'task_manage'%>
    </div>
</body>