<div class="manage-shift-header-page">
    <%= javascript_pack_tag 'task_manage'%>
    <div id="search-section">
        <input type="text" placeholder="Enter worker's name" />
        <button id="search">Search</button>
    </div>
    <div id= "depart-shift-section">
        <h3 id="detail">แผนก.. กะ..<h3>
    </div>
    <div id="save-delete-section">
        <button id="save">Save</button>
        <button id="delete">Delete</button>
    </div>
</div>

<div id="manage-shift-body">
    <div id="table-left" class="manage-shift-table">
        <h2>All Worker</h2>
        <table id="data-table">
            <tr>
                <th><input type="checkbox" class="check-all" id="left-check-all"/></th>
                <th>ID</th>
                <th>Name</th>
            </tr>
            <%if @free_workers%>
                <% @free_workers.each do |w|%>
                    <tr class="data">
                        <td><input type="checkbox" id="left-checkbox"/> </td>
                        <td><%= w.id%></td>
                        <td><%= w.name%></td>
                    </tr>
                <%end%>
            <%end%>
        </table>
    </div>
    <%= button_to ">>", "/tasks_manage/#{@departmentId}", :id => "transfer-btn", method: :get, remote: true %>
    <div id="table-right">
        <h2>Worker in shift</h2>
        <table id="data-table">
            <tr>
                <th><input type="checkbox" class="check-all" id="right-check-all"/><%= javascript_pack_tag 'checkAll'%></th>
                <th>ID</th>
                <th>Name</th>
                <th>OT</th>
            </tr>
            <%if @task_list%>
                <% @task_list.each do |t|%>
                    <tr class="data">
                        <td><input type="checkbox" id="right-checkbox"/> </td>
                        <td><%= t.account_id%></td>
                        <td><%= t.get_owner_name%></td>
                        <td><%= t.ot%></td>
                    </tr>
                <%end%>
                <%end%>
        </table>
    </div>
</div>
