<!DOCTYPE html>
<html>
  <head>
    <title>CPFProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap" rel="stylesheet"> 
    <div id='mobile-indicator'></div>
    <% if @current_user%>
        <div class="nav-bar">
        <ul id="nav-responsive">
          <% if @current_user.role != "Worker"%>
            <div id="current-time-details" class='responsive'>
              <h3 id="current-date"></h3>
              <% if @current_user.role == "Manager"%>
                <li><%= link_to "Dashboard" , "/accounts/#{current_user.id}/dashboard"%></li>
              <%end%>
              <% if @current_user.role == "Admin"%>
                <li><%= link_to "Manage Factories" , "/accounts/#{current_user.id}/manage_factories"%></li>
                <li><%= link_to "Manage User" , "/accounts/#{current_user.id}/manage_Worker"%></li>
              <%end%>
            </div>
          <%end%>
          <h2 id="already-in-responsive" class='responsive'><p id='num'>--/--</p></h2>
          <div id="hamberg-menu">
            <%if @current_user.role != "Worker"%>
              <li><%= link_to "profile" , account_path(@current_user)%> </li>
            <%end%>
            <li><%= link_to 'Log Out', logout_path, :method => :post, :id => "log-out"%></li>
          </div>
          <% if @current_user.role != "Worker"%>
            <div class="nav-icon">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div> 
          <%else%>
            <div class="nav-icon-worker">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div> 
          <%end%>
        </ul>
        <ul id="nav-default">
          <div id= "nav-elements">
            <li><%= link_to "profile" , account_path(@current_user)%> </li>

            <% if @current_user.role == "Manager"%>
              <li><%= link_to "Dashboard" , "/accounts/#{current_user.id}/dashboard"%></li>
            <%end%>


            <% if @current_user.role == "Admin"%>
              <li><%= link_to "Manage Factories" , "/accounts/#{current_user.id}/manage_factories"%></li>
              <li><%= link_to "Manage User" , "/accounts/#{current_user.id}/manage_Worker"%></li>
            <%end%>

          </div>
          <div id="nav-elements">
            <li><h2>Welcome</h2><p id= "name-text"><%=@current_user.name%>!</p></li>
            <li><%= link_to 'Log Out', logout_path, :method => :post, :id => "log-out"%></li>
          </div>
        </ul>
        </div>
      <%end%>
        <%= yield %>
  </head>
  
  
  <body>
    <% if flash[:notice]%>
    <div id=notice><%= flash[:notice] %></div>
  <%end%>
  </body>
  <%= javascript_pack_tag 'nav_icon'%>
  <%= javascript_pack_tag 'nav_menu'%>
</html>
