<div id="admin-body">
  <h2>All User</h2>

  <table id="admin-table">
    <thead>
      <tr>
        <th>name</th>
        <th>factory</th>
        <th>role</th>
      </tr>
    </thead>
    <tbody>
      <% Account.all.each do |user| %>
        <% if @current_user != user%>
          <tr>
              <td><%= user.name %></td>
              <td><%= user.factory.name %></td>
              <td><%= user.role %></td>
              <td><%= link_to "Edit", edit_account_path(user) %></td>
              <td><%= link_to "Destroy", user, method: :delete, data: { confirm: "Are you sure?" } %></td>
          </tr>
        <%end%>
      <% end %>
    </tbody>
</table>
</div>