<div id="admin-body">
  <h1>list of users</h1>
  <table id="admin-table">
    <thead>
      <tr>
        <th style="border-radius: var(--default-radius) 0 0 0">name</th>
        <th>factory</th>
        <th>role</th>
        <th style="border-right:none"></th>
        <th style="border-left:none; border-radius: 0 var(--default-radius) 0 0"></th>
      </tr>
    </thead>
    <tbody>
      <% Account.all.each do |user| %>
        <% if @current_user != user%>
          <tr>
              <td style="text-align: left"><%= user.name %></td>
              <td><%= user.factory.name %></td>
              <td><%= user.role %></td>
              <td><%= link_to "Edit", edit_account_path(user) %></td>
              <td><%= link_to "Destroy", user, method: :delete, data: { confirm: "Are you sure?" } %></td>
          </tr>
        <%end%>
      <% end %>
    </tbody>
</table>
</div>