<%= stylesheet_pack_tag 'popup'%>
<div id="dashboard-parent">
    <div id="dashboard-body">
        <div id="body-left">    
            <div id="left-top">
                <div id="current-time-details">
                    <h2 id="current-time"></h2>
                    <h3 id="current-date"></h3>
                </div>
                <h2 id="already-in">Checked in<p id= "num">_</p></h2>
            </div>
            <div id="department-list">
                <% @departments.each do |d|%>
                    <button class="d-list"><%= "#{d.name} (Current Shift: #{@shift}) (#{Task.number_worker(d.id, @date, @shift, "actual")} | #{Task.number_worker(d.id, @date, @shift, "plan")})"%></button>
                <%end%>
            </div>
        </div>
        <div id="department-list-responsive">
                <% @departments.each do |d|%>
                    <button class="d-list"><%= "#{d.name}"%></button>
                <%end%>
        </div>
        <div id="body-right">
            <div class="popup">
                <h3 class ="popup-exit ">x</h3>
            </div>
            <div id=r-table-header>
                <div id="a-p-group">
                    <h3 class="status" id="actual">actual</h3>  
                    <h3 class="status" id ="absent">absent</h3>
                    <h3 class= "status" id="plan">plan</h3>
                </div>
                
                <div id="d-s-group">
                    <select name='day' id="date-select" >
                        <option class='d-s-short'>Day</option>
                    </select>
                    <select name='shift' id="shift-select">
                        <option class='d-s-short'>S</option>
                        
                    </select>
                    <button id="manage-shift-btn">Manage Shift</button>
                </div>
                
            </div>
            <table id="data-table">
                <tr>
                    <th>Account id</th>
                    <th>Name</th>
                    <th>Enter time</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Exit time</th>
                    <th>More</th>
                </tr>
                                    
                </div>
            </table>
        </div>
    </div>
    <%= javascript_pack_tag 'dateSelectLoop', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_pack_tag 'shiftSelectLoop', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_pack_tag 'time', media: 'all', 'data-turbolinks-track': 'reload'%>
</div
