<div id="dashboard-parent">
    <h3 id="current-date"><%= javascript_pack_tag 'time'%></h3>
    <div id="dashboard-body">
        <div id="body-left">
            <h2 id="already-in">Checked in<p id= "num"></p></h2>
            <div id="department-list">
                <% @departments.each do |d|%>
                    <button class="d-list"><%= "#{d.name}"%></button>
                <%end%>
            </div>
            <%= link_to "Manage Shift", "/tasks_manage/#{@departmentId}/", :id=>"manage-shift-btn"%> 
        </div>
        <div id="body-right">
            <div id=r-table-header>
                <h3 id="actual">Actual</h3>
                <h3 id= "plan">Plan</h3>
                
                <%= form_tag method: :get, url: "/accounts/#{current_user.id}/dashboard/" do %>   
                    <select name='day' id="date-select" ><%= javascript_pack_tag 'dateSelectLoop'%></select>
                <%end%>
                    <select id="shift-select">
                        <option>Shift 1</option>
                        <option>Shift 2</option>
                        <option>Shift 3</option>    
                        <option>Shift 4</option>
                    </select>
            </div>
            <table id="data-table">
                <tr>
                    <th>Account id</th>
                    <th>Name</th>
                    <th>Enter time</th>
                    <th>Start time</th>
                    <th>Exit time</th>
                    <th>End time</th>
                </tr>
                <%if @tasks%>
                    
                <%else%>
                    
                <%end%>
                
                </div>
            </table>
        </div>
    </div>
</div