<div id="dashboard-parent">
    <h3 id="current-date"><%= javascript_pack_tag 'time'%></h3>
    <div id="dashboard-body">
        <div id="body-left">
            <h2 id="already-in">เข้ากะแล้ว<br><%= @tasks.length%>/40</h2>
            <div id="department-list">
                <% @departments.each do |d|%>
                    <div class="d-list">
                        <%= link_to "#{d.name}", "/accounts/#{current_user.id}/dashboard/#{d.name}"%>
                    </div>
                <%end%>
            </div>
            <%= link_to "Manage Shift", "/tasks_manage/#{@departmentId}/" %> 
        </div>
        <div id="body-right">
            <div id=r-table-header>
                <h3 id="actual">actual</h3>
                <h3 id= "plan">plan</h3>
                
                <select id="date-select">
                    <option>Day 1</option>
                    <option>Day 2</option>
                    <option>Day 3</option>
                </select>

                <select id="shift-select">
                    <option>Shift 1</option>
                    <option>Shift 2</option>
                    <option>Shift 3</option>
                    <option>Shift 4</option>
                </select>
            </div>
            
            <table id="data-table">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Ot</th>
                </tr>
                <%if @tasks%>
                <% @tasks.each do |t|%>
                    <tr class="data">
                        <td><%= t.account.id%></td>
                        <td><%=t.account.name%></td>
                        <td><%= t.get_time(t.startTime)%></td>
                        <td><%= t.get_time(t.endTime)%></td>
                        <td><%= t.ot%></td>
                    </tr>
                <%end%>
                <%end%>
                </div>
            </table>
        </div>
    </div>
</div