<%= stylesheet_link_tag 'admin'%>
<div id="fac-manage-body">
<h2><%= "#{@factory.name}"%></h2>
<%= button_to "Add Department", "/manage_factories/#{@factory.id}/add_department"%>

<table id="factory-manage-table">
    <thead>
    <tr>
        <th>Department ID</th>
        <th>Department Name</th>
    </tr>
    </thead>
        <% if @departments %>
            <% @departments.each do |department|%>
            <tr >
                <td><%= department.id%></td>
                <td><%= department.name%></td>
            </tr>
            <%end%>
        <% end %>
</table>
</div>