
    <body id="body-login">
        <section class="profile-parent">
            <section id="profile-details">
                <div class="image"></div>
                <div class="profile-body">
                    <h2 class="topic">Name: <br> <%=@current_user.name%></h2>
                    <h2 class="topic">Role: <br><%=@current_user.role%></h2>
                    <h2 class="topic">Factory: <br><%=@current_user.factory.name%></h2>
                </div>
            </section>
            <%if @current_user.role === "Worker"%>
                <table id="task-view">
                    <tr>
                    <th>No.</th>
                    <th>Date</th>
                    <th>Shift</th>
                    <th>Enter</th>
                    <th>Exit</th>
                    <th>OT</th>
                    <th></th>
                    </tr>
                        <% @tasks.each_with_index do |task,index| %>
                    <tr>
                            <td><%= index+1 %></td>
                            <td><%= task.day.strftime("%d-%m-%y") %></td>
                            <td><%= task.shift %></td>
                            
                            <td><%= task.get_time(task.enterTime)%></td>
                            <td><%= task.get_time(task.exitTime) %></td>
                            <td><%= task.ot %></td>
                            <% if task.active %>
                                <td><%= link_to "check out", edit_tasks_manage_path(task) %></td>
                            <% elsif task.exitTime %>
                                <td>✔️</td>
                            <% elsif !task.active %>
                                <td><%= link_to "check in", edit_tasks_manage_path(task) %></td>
                            <% end %>
                    </tr>
                    <% end %>   
                
                </table>
            <%end%>
        </section>
    </body>
